# Auto detect text files and perform LF normalization
* text=auto

# The above will handle all files NOT found below
# These files are text and should be normalized (Convert crlf => lf)
*.css           text
*.html          text
*.js            text
*.json          text
*.md            text
*.svg           text
*.ts            text
*.txt           text
*.xml           text
*.yml           text
*.yaml          text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.mov           binary
*.mp4           binary
*.mp3           binary
*.flv           binary
*.fla           binary
*.swf           binary
*.gz            binary
*.zip           binary
*.7z            binary
*.ttf           binary
*.eot           binary
*.woff          binary
*.woff2         binary
*.pyc           binary
*.pdf           binary

# Documents
*.doc           diff=astextplain
*.DOC           diff=astextplain
*.docx          diff=astextplain
*.DOCX          diff=astextplain
*.dot           diff=astextplain
*.DOT           diff=astextplain
*.pdf           diff=astextplain
*.PDF           diff=astextplain
*.rtf           diff=astextplain
*.RTF           diff=astextplain

# Lock files should not be normalized
package-lock.json   -text
yarn.lock          -text
bun.lock           -text
pnpm-lock.yaml     -text
